.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 100px;    
    background-color: white;
    color: black;
    border-bottom: 1px solid #fbb217;
    z-index: 3;
}
  
.nav-container {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
    
    

}

#linea-separadora {
    width: 1px;
    height: 45px;
    background-color: #dd5d26;
    border-radius: 2px;
}




.nav-items li .link:hover{
    /* color: lightblue; */
    border-bottom: 2px solid #a7cb68;
    font-weight: bold;
}

.search-bar-nav {
    margin-left: 700px;
    margin-top: 20px;
}

#create-btn {
    margin-left: 100px;
}

#logo-icon {
    margin-right: 100px;
}